.imgWrapper {
  max-width: 156px;
  height: 156px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #DEDBDC;
  margin: 0 auto;
  overflow: hidden
}

.imgWrapper img {
  width: 100%;
  height: auto;
}

.blogItem {
  display: flex;
  align-items: start;
  font-size: 20px;
  column-gap: 1rem;
}

.description {
  margin-top: 20px;
}

.website {
  font-size: 18px;
  color: #737067;
}

.website a {
  color: #3677F7;
}